@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Serif JP', serif, sans-serif;
}
body {
    overflow-x: hidden;
}
img {
    max-width: 100%;
    height: auto;
    border: none;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 20px;
    font-weight: 700;
}
p {
    font-size: 14px;
    line-height: 1.6em;
    margin: 0;
}
a:hover {
    text-decoration: none;
}
/* Header CSS */
header {
    background-image: url(../img/bg-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 235px 0;
    margin-bottom: 60px;
    background-size: 100%;
}

.header-content h1 {
    color: #fff;
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: 3px 2px #000;
}
.header-content p {
    color: #fff;
    text-transform: capitalize;
    font-size: 25px;
    text-shadow: 1px 1px #333;
}
.single-page-nav {
    text-align: center;
}
/* Feature CSS */
.green-text { color: #178a27;}
.blue-text { color: #1686c1;}
.gray-text { color: #3133c1;}
.green-btn { background-color: #178a27;}
.green-btn:hover { 
    background: transparent;
    color: #449c44;
    border: 2px solid #449d44;}
.blue-btn { background-color: #1686c1;}
.blue-btn:hover { 
    background:transparent;
    border: 2px solid #31b0d5;
    color: #31b0d5;
}
.red-btn { background: #852406;}
.red-btn:hover { 
    background: transparent;
    border: 2px solid #c9302c;
    color: #c9302c;
}
.feature-content img {
    border-radius: 10px 10px 0px 0px;
}
.feature-content {
    background: #f2f2f2;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
}
.feature-content-title {
    padding: 0 20px;
    text-align: left;
}
.feature-content-description {
    padding: 0 20px 35px;
    text-align: left;
    color: #333333;
    margin-top: 15px;
}
.feature-content-link {
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.feature-content-link:hover, .feature-content-link:link, .feature-content-link:visited {
    /* color: white; */
    text-decoration: none;
}
/* Blog CSS */
#blog-area {
    margin: 60px 0px;
}
.blog-content {
    background: #f2f2ff;
    padding-bottom: 25px;
    max-width: 555px;
    margin: 0 auto;
    height: 605px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
}
.blog-content img {
    border-radius: 10px 10px 0px 0px;
}
.blog-content h2 {
    color: #666666;
    text-transform: capitalize;
    padding-left: 17px;
}
.blog-content p {
    padding: 27px;
    text-align: left;
    color: #333333;
}
.blog-content span {
    margin-left: 200px;
}
.blog-content span a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: #666666;
    font-size: 18px;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: capitalize;
}
.blog-content span a:hover {
    background: #e6e6e6 none repeat scroll 0 0;
}
.blog-content > p#blofr {
    padding: 8px;
}
/* Services CSS */
section .services-section {
    margin: 85px;
    padding: 30px;
}
section #bg-op {
    content:'';
    background-color: rgba(22, 21, 21, 0.4);
    background-size: cover;
    width: 100%;
    height: 100%;
}
section#services-area {
    background-image: url("../img/bg-2.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 500px;
}
.service {
    margin: 0 auto;
    position: relative;
    top: 150px;
}
.service h1 {
    color: #fff;
    text-transform: capitalize;
    text-shadow: 2px 2px #3133c1;
}
.service > p {
    color: #fff;
    font-size: 18px;
}
/* Testimonial CSS */
#testimonial-area {
    margin: 60px 0;
}
h2 {
    color: #666666;
}
.testimonial-content {
    background-color: #f2f2f2;
    height: 500px;
    max-width: 260px;
    margin: 0 auto 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}
.testimonial-content img {
    border-radius: 15px 0 15px 0;
}
.testimonial-content p {
    padding: 10px 20px;
    text-align: left;
}
.content-link {
    /* background: #fff none repeat scroll 0 0;
    border: 1px solid #cdcdcd;
    border-radius: 10px; */
    color: blue;
    display: inline-block;
    font-size: 18px;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease;
}
.content-link:hover, .content-link:focus {
    border-bottom: 1px solid blue;
}
.content-link:active {
    color: #000;
}
.fa-external-link-alt {
    padding: 10px;
}
/* Contact CSS */
section#contact-area {
    background-image: url("../img/bg-3.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.contact-content h1 {
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-shadow: 2px 2px #333;
}
.contact-content p {
    background: rgba(242, 242, 242, 0.4) none repeat scroll 0 0;
    border-radius: 6px;
    color: #000;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 20px 15px;
}
.contact-form-left {
    padding-left: 0;
}
.contact-form-right {
    padding-right: 0;
}
.input {
    margin-bottom: 15px;
}
.form-control {
    margin-top: 10px;
    margin-bottom: 10px;
}
#comment.form-control {
    height: 122px;
}
.form-group {
    border-radius: 10px;
}
.form-group button {
    background: white;
    color: #1686c1;
    margin-top: 10px;
    position: relative;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 15px;
    border: 2px solid #1686c1;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.btn:hover {
    background: #1686c1 none repeat scroll 0 0;
    color: white;
}
.fa-paper-plane {
    padding: 0 10px;
}
/* footer CSS */
.footer-content h1 {
    color: #666666;
    font-size: 32px;
    font-style: italic;
    margin-bottom: 25px;
    margin-top: 35px;
}
.footer-content p {
    color: #999;
    font-style: italic;
    margin-bottom: 30px;
}
.copy {
    color: #666;
    font-size: 12px;
    margin-bottom: 30px;
    margin-top: 10px;
}

/* Nav CSS */
.navbar-inverse {
    background: rgba(22, 21, 21, 0.8);
}

.navbar-nav>li {
    display: inline-block;
    padding: 10px;
}
.navbar-inverse .navbar-nav>li>a {
    text-align: center;
    color: rgba(68, 233, 68, 0.836);
    font-size: 20px;
    font-weight: 700;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.navbar-inverse .navbar-nav > li > a.current,
.navbar-inverse .navbar-nav > li > a:hover {
        border-bottom: 2px solid white;
        color: white;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}

/* ---- Media Queries ---- */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .blog-content > p#blofr {
        padding: 18px;
    }
    .contact-content p {
        font-size: 15px;
    }
}
/*    Tablet Layout  */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .blog-content p {
        margin-bottom: 21px;
        padding: 27px;
    }
    .blog-content span {
        margin-left: 0;
    }
    .service > p {font-size: 18px;}
    .contact-content p {
        font-size: 18px;
        padding: 15px 0;
    }
    .navbar-nav > li {
        padding: 6px;
    }
    .navbar-inverse .navbar-nav > li > a {
        font-size: 16px;
    }
}
@media only screen and (max-width: 767px) {
    header {
        height: 75vh;
        padding: 0 15px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        align-items: center;
            -ms-flex-align: center;
            -webkit-box-align: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
    }
    .header-content h1 {
        font-size: 50px;
    }
    .feature-content {
        max-width: 360px;
        margin: 0 auto 30px;
    }
    .feature-content-title, .feature-content-description {
        text-align: center;
    }
    .blog-content {margin-bottom: 30px;}
    .blog-content p {text-align: center;}
    .blog-content span {margin-left: 0;}
    .testimonial-content p {text-align: center;}
    .footer-content h4 {font-size: 16px;}
    .navbar-nav>li {display: block;}
    .navbar-inverse{
        background: none;
    }
    .navbar-inverse .navbar-toggle {
        background-color: #333;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {background-color: #49505f;}
    .navbar .navbar-nav {
        width: 100%;
        margin: 0;
    }
    .navbar-collapse {
        padding-right: 0px;
        padding-left: 0px;
    }
    .navbar-nav>li {
        width: 100%;
        padding: 0px;
    }
    .navbar-inverse .navbar-nav>li>a {
        background: none;
        width: 100%;
        padding: 10px 0px;
    }
    .navbar-inverse .navbar-nav > li > a { font-size: 16px; }
  .container {
    margin-left: 0;
    margin-right: 0;
  }
  .single-page-nav {
    background-color: #383E4C;
    max-height: 0;
    -webkit-transition: max-height 0.8s;
            transition: max-height 0.8s;
    overflow: hidden;
  }
  .single-page-nav.show {
    max-height: 250px;
    overflow: auto;
  }
  .contact-form-left {
    padding-right: 0;
  }
  .contact-form-right {
    padding-left: 0;
  }
}

/*    Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .header-content h1 {
    font-size: 70px;
  }
}

@media only screen and (max-width: 520px) {
  .col-xxs-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  header { height: 50vh; }
}